{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game - Sorted deck</h1>

{% for card in cards %}
    <p>{{ card.getSymbol() }}</p>
{% endfor %}

<p><a href="{{ path('card_deck') }}">Sort Deck and show it</a></p>
<p><a href="{{ path('shuffle_deck') }}">Shuffle Deck - get a new deck</a></p>
<p><a href="{{ path('draw_card') }}">Draw a Card</a></p>
<p><a href="{{ path('draw_cards', {num: 5}) }}">Draw 5 cards</a></p>

{% endblock %}