{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game - draw card</h1>

<p>{{ card.getSymbol() }}</p>
<p>Cards left in Deck: {{ deck.cardsLeft() }}</p>

{% if deck.cardsLeft() == 0 %}
    <p>No cards left, return to <a href="{{ path('card_start') }}">Card Game</a> to get a new pack of card.</p>
{% endif %}

<p><a href="{{ path('card_deck') }}">Sort Deck and show it</a></p>
<p><a href="{{ path('shuffle_deck') }}">Shuffle Deck - get a new deck</a></p>
<p><a href="{{ path('draw_card') }}">Draw another</a></p>
<p><a href="{{ path('draw_cards', {num: 5}) }}">Draw 5 cards</a></p>

{% endblock %}