{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game - Home</h1>

<p><a href="{{ path('card_deck') }}">Card Deck</a></p>
<p><a href="{{ path('shuffle_deck') }}">Shuffle Deck</a></p>
<p><a href="{{ path('draw_card') }}">Draw a Card</a></p>
<p><a href="{{ path('draw_cards', {num: 5}) }}">Draw 5 cards</a></p>

<h3 class="center">UML-diagram</h3>
<img class="uml" src="{{ asset('img/uml.png') }}" alt="uml-bild">

{% endblock %}