{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
<h1>Api - Home</h1>

<p><a href="{{ path('quotes') }}">Quotes</a> - Visar upp dagens Quote</p>
<p><a href="{{ path('api_deck') }}">Deck</a> - Visar upp hela kortleken, sorterad</p>


<form method="post" action="">
    <p>
        <input type="submit" name="shuffle" value="Shuffle"
            onClick="this.form.action='{{ path('api_shuffle') }}';"
        >
        - Klicka shuffle för att shuffla hela kortleken
    </p>
    <p>
        <input type="submit" name="draw" value="Draw 1"
            onClick="this.form.action='{{ path('api_draw') }}';"
        >
        - Klicka draw för att dra ett kort och visa vilket kort det är
    </p>
    <p>
        <input type="submit" name="draws" value="Draw 5"
            onClick="this.form.action='{{ path('api_draws', {'num':5}) }}';"
        >
        - Klicka draw 5 för att dra 5 kort och visa vilka kort det är
    </p>
</form>

{% endblock %}
