{% extends 'project/base.html.twig' %}

{% block title %}Blackjack Setup{% endblock %}

{% block body %}
    <div class="main">
        <h1>Blackjack - Bet and bank</h1>

        {% if bet == true %}

        <form method="post" action="{{ path('blackjack_game') }}">
            <div class="test-container">
            {% for i in 1..numPlayers %}
                <div class="test">
                <h2>Player {{ playerNames[loop.index - 1] }} - Total money: ${{ playerHands[loop.index - 1].getTotalMoney() }}</h2>
                {% if playerHands[loop.index - 1].getTotalMoney() == 0 %}
                    <a href="{{ path('add_money', {'playerIndex': loop.index - 1}) }}">Add Money</a>
                {% endif %}
                <label for="betAmount{{ i }}">Bet Amount:</label>
                <input type="number" id="betAmount{{ i }}" name="betAmount{{ i }}" min="1" max="{{ playerHands[loop.index - 1].getTotalMoney() }}" required>
                <br><br>
                </div>
            {% endfor %}
            </div>

            <button class="middle-btn" type="submit">Start Game</button>
        </form>

        {% else %}

        <p>Game is already in progress, go back to the game: <a href="{{ path('blackjack_game') }}">Here</a></p>

        {% endif %}
    </div>
{% endblock %}