{% extends 'project/base.html.twig' %}

{% block title %}Blackjack{% endblock %}

{% block body %}
    <div class="table" style="background-image: url({{ asset('img/blackjack.jpg') }})">
        <h1>Blackjack</h1>

        <div class="dealer">
            <h2>Dealer's Hand</h2>
            <p>Hand Value: <span>{{ dealerHand.getHandValue() }}</span></p>
            <p class="card">
                {% for card in dealerHand.getCards() %}
                    {{ card.getSymbol() }}
                {% endfor %}
            </p>
        </div>

        {% set currentPlayer = session.get('currentPlayer', 1) %}

        {% for playerHand in playerHands %}
        <div class="player">
            <h2>Player {{ playerNames[loop.index - 1] }} - Total money: ${{ playerHand.getTotalMoney() }}</h2>
            <h2>Bet: ${{ playerHand.getBet() }}</h2>
            <p>Hand Value: <span>{{ playerHand.getHandValue() }}</span></p>
            <p class="card">
                {% for card in playerHand.getCards() %}
                    {{ card.getSymbol() }}
                {% endfor %}
            </p>

            {% if not playerHand.isBust() and not playerHand.isStand() %}
                {% if loop.index == currentPlayer %}
                    <form method="post" action="{{ path('blackjack_game') }}">
                        <input type="hidden" name="playerIndex" value="{{ loop.index }}">
                        <button type="submit" name="action" value="hit">Hit</button>
                        <button type="submit" name="action" value="stand">Stand</button>
                    </form>
                {% else %}
                    <p>Waiting for previous player...</p>
                {% endif %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
