{% extends 'project/base.html.twig' %}

{% block title %}Blackjack Setup{% endblock %}

{% block body %}
    <div class="main">
        <h1>Blackjack Setup</h1>

        {% if game == false %}

        <form method="POST" action="{{ path('blackjack_bet') }}">
            {% for i in 1..numPlayers %}
                <h2>Player {{ i }}</h2>
                <label for="playerName{{ i }}">Player Name:</label>
                <input type="text" id="playerName{{ i }}" name="playerName{{ i }}" required>
                <br><br>
            {% endfor %}

            <button type="submit">Continue</button>
        </form>

        {% else %}

        <p>Game is already in progress, go back to the game: <a href="{{ path('blackjack_game') }}">Here</a></p>

        {% endif %}
    </div>
{% endblock %}